<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>p5.js Sketch</title>
  <link rel="stylesheet" type="text/css" href="/styles/styles.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.7.0/p5.js"></script>
</head>
<body>
  <main>
    <canvas id="sketchCanvas"></canvas>
  </main>
  <script src="/sketches/sketch<%= sketchId %>.js"></script>
</body>

</html>
